.vscode/**
.vscode-test/**
src/**
src-extension/**
main-process/**
dist/**
release/**
_Archive/**
scripts/**
node_modules/**
!node_modules/dompurify/**
.gitignore
.cursorignore
*.map
*.ts
*.md
!README.md
tsconfig.json
esbuild.config.js
vite.config.js
tailwind.config.cjs
postcss.config.cjs
*.lock
*.log
screenshot*.png

